*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: #00293C;
}

.box{
    background-color: #1E656D;
    margin: 30px auto;
    width: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: black 1px 1px 0 0;
}

.Boxnumber{
    margin: 10px;
    padding: 5px;
    background-color: #F1F3C3;
    box-shadow: black 1px 1px 0 0;
    transition: .1s;
}

.Boxnumber p{
    text-align: center;
    width: 20px;
    margin: 2px;
}
.Boxnumber:hover{
    cursor: pointer;
    background-color: #F62A00;
    transform: scale(1.1);
}
button{
    border:0;
}

.modal-1{
    position: fixed;
    background-color: #1E656D;
    box-shadow: black 1px 1px 0 0;
    padding: 100px;
    margin: 30px;
    margin-left: -300px;
    width: 300px;
    transition: 2s;
    text-align: center;
}

.button{
    margin-top: 10px;
    text-align: center;
    border-radius: 25%;
    transition: 2s;
}

.button:hover{
    background-color: #F62A00;
    
}

a{
    text-decoration: none;
    color: white;
    
}

.modal p{
    color: white;
    text-transform: uppercase;
}